@charset "UTF-8";
/*폰트*/
@import url("/font/font.css");
/*변수*/
/*mixin*/
/*리셋*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  border: 0;
  vertical-align: top;
}

html {
  font-size: 16px;
}

body {
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  line-height: 1.6;
  line-height: 30px;
  font-size: 14px;
  font-style: normal;
  color: #1f1f1f;
  letter-spacing: -0.09em;
}

/* 공통 요소*/
.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  max-width: 1650px;
  clear: both;
}

.inner {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
}

em {
  font-style: normal;
}

.service-wrap {
  width: 1310px;
}

/* 레이아웃 */
.wrap {
  position: relative;
  display: block;
}

/* 상단 */
/* 비주얼 */
/* 제품 */
/* 브랜드 */
/* cs */
.cs {
  position: relative;
  margin-bottom: 140px;
}
.cs .cs-inner .cs-head {
  font-family: "Binggrae-Bold";
  position: relative;
  text-align: center;
  font-size: 38px;
  margin-bottom: 45px;
}
.cs .cs-inner .cs-box {
  position: relative;
  box-shadow: 0px 5px 24.3px 2.7px rgba(0, 0, 0, 0.09);
  background: #fff;
  border-radius: 30px;
  padding: 90px 45px;
  z-index: 1;
}
.cs .cs-inner .cs-box .cs-content {
  position: relative;
  display: grid;
  gap: 35px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 60px;
}
.cs .cs-inner .cs-box .cs-content .cs-content-left {
  position: relative;
  height: 325px;
  border-radius: 30px;
  overflow: hidden;
}
.cs .cs-inner .cs-box .cs-content .cs-content-left .email-txt {
  position: relative;
  padding-left: 45px;
  padding-top: 55px;
}
.cs .cs-inner .cs-box .cs-content .cs-content-left .email-txt > span {
  font-family: "Binggrae-Bold";
  font-size: 32px;
  line-height: 1;
  letter-spacing: -1.6px;
  padding-bottom: 30px;
  display: block;
}
.cs .cs-inner .cs-box .cs-content .cs-content-left .email-txt > p {
  display: block;
  font-size: 16px;
  line-height: 1.63;
  padding-bottom: 60px;
}
.cs .cs-inner .cs-box .cs-content .cs-content-left .email-txt .email-btn {
  display: block;
  border: 0;
  background: #e6342a;
  border-radius: 30px;
  width: 160px;
  cursor: pointer;
  height: 43px;
  color: #fff;
}
.cs .cs-inner .cs-box .cs-content .cs-content-left .email-txt::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: #eef8fa url(../../images/m_sec04_backimg01.png) no-repeat right/cover;
  background-size: 100%;
  width: 100%;
  height: 325px;
  z-index: -1;
}
.cs .cs-inner .cs-box .cs-content .cs-content-right {
  position: relative;
  height: 325px;
  border-radius: 30px;
  overflow: hidden;
}
.cs .cs-inner .cs-box .cs-content .cs-content-right .tell-txt {
  position: relative;
  padding-left: 45px;
  padding-top: 55px;
}
.cs .cs-inner .cs-box .cs-content .cs-content-right .tell-txt > span:nth-child(1) {
  display: block;
  font-family: "Binggrae-Bold";
  font-size: 32px;
  line-height: 1;
  letter-spacing: -1.6px;
  padding-bottom: 30px;
}
.cs .cs-inner .cs-box .cs-content .cs-content-right .tell-txt > span:nth-child(2) {
  display: block;
  font-family: Poppins;
  font-size: 46.5px;
  line-height: 1;
  font-weight: 600;
  letter-spacing: -2.33px;
  color: #303030;
  margin-bottom: 30px;
}
.cs .cs-inner .cs-box .cs-content .cs-content-right .tell-txt > span:nth-child(3) {
  display: inline-block;
  font-size: 16px;
  line-height: 1;
}
.cs .cs-inner .cs-box .cs-content .cs-content-right .tell-txt > span:nth-child(3) > em {
  display: inline-block;
  color: #e6342a;
  font-weight: 500;
  padding-left: 15px;
}
.cs .cs-inner .cs-box .cs-content .cs-content-right::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: #fdf3f2 url(../../images/m_sec04_backimg02.png) no-repeat right/cover;
  background-size: 100%;
  width: 100%;
  height: 325px;
  z-index: -1;
}
.cs .cs-inner .cs-box .cs-more {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.cs .cs-inner .cs-box .cs-more .more-txt {
  font-size: 23px;
  font-family: "Binggrae-Bold";
  line-height: 1;
  letter-spacing: -1.6px;
}
.cs .cs-inner .cs-box .cs-more .more-btn {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: normal;
  border: solid 1px rgba(224, 223, 226, 0.6);
  background: #fff;
  padding: 10px 60px;
  border-radius: 30px;
  cursor: pointer;
}
.cs .cs-inner .cs-box .cs-more .more-btn:hover {
  background: #e6342a;
  color: #fff;
}
.cs .cs-inner .cs-box .qna {
  position: relative;
}
.cs .cs-inner .cs-box .qna .qna-wrap {
  position: relative;
  display: block;
  display: grid;
  grid-template-columns: repeat(2, 4fr);
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 10px;
}
.cs .cs-inner .cs-box .qna .qna-wrap .qna-list {
  position: relative;
  box-shadow: inset 0px 5px 10px 0 rgba(121, 121, 121, 0.08);
  padding: 0 20px;
  border-radius: 30px;
  height: 80px;
  background: #f9f9f9;
}
.cs .cs-inner .cs-box .qna .qna-wrap .qna-list .qna-link {
  display: block;
  height: 80px;
  line-height: 80px;
}
.cs .cs-inner .cs-box .qna .qna-wrap .qna-list .qna-link > em {
  font-family: "Binggrae";
  font-size: 18px;
  line-height: 1.4;
}
.cs .cs-inner .cs-box .qna .qna-wrap .qna-list .qna-link > span {
  font-size: 18px;
  line-height: 1.4;
}
.cs .cs-inner .cs-box .qna .qna-wrap .qna-list .qna-link .qna-icon {
  position: absolute;
  display: flex;
  right: 20px;
  top: 50%;
  transform-origin: top;
  transform: scale(0) translateY(-50%);
  width: 47px;
  height: 47px;
  border-radius: 100%;
  box-shadow: inset 0px 5px 10px 0 rgba(26, 26, 26, 0.14);
  background-color: #e6342a;
  transition: transform 0.5s;
  align-items: center;
  justify-content: center;
}
.cs .cs-inner .cs-box .qna .qna-wrap .qna-list .qna-link .qna-icon img {
  display: block;
}
.cs .cs-inner .cs-box .qna .qna-wrap .qna-list .qna-link:hover {
  font-weight: bold;
}
.cs .cs-inner .cs-box .qna .qna-wrap .qna-list .qna-link:hover .qna-icon {
  transform: scale(1) translateY(-50%);
}

/* 의견 */
.opinion .opinion-inner .opinion-head {
  font-family: "Binggrae-Bold";
  font-size: 38px;
  text-align: center;
  margin-bottom: 50px;
}
.opinion .opinion-inner .op-box {
  position: relative;
}
.opinion .opinion-inner .op-box .op-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
.opinion .opinion-inner .op-box .op-content .op-content-left {
  border-radius: 30px;
  text-align: center;
  box-shadow: inset 0px 5px 10px 0 rgba(121, 121, 121, 0.08);
}
.opinion .opinion-inner .op-box .op-content .op-content-left .op-content-txt {
  font-size: 20px;
  display: block;
  padding-top: 80px;
  padding-bottom: 30px;
}
.opinion .opinion-inner .op-box .op-content .op-content-left .op-content-btn {
  margin-bottom: 50px;
  border: 0;
  background: #e6342a;
  border-radius: 30px;
  width: 160px;
  cursor: pointer;
  height: 43px;
  color: #fff;
}
.opinion .opinion-inner .op-box .op-content .op-content-right {
  border-radius: 30px;
  text-align: center;
  box-shadow: inset 0px 5px 10px 0 rgba(121, 121, 121, 0.08);
}
.opinion .opinion-inner .op-box .op-content .op-content-right .op-content-txt {
  font-size: 20px;
  display: block;
  padding-top: 80px;
  padding-bottom: 30px;
}
.opinion .opinion-inner .op-box .op-content .op-content-right .op-content-btn {
  margin-bottom: 50px;
  border: 0;
  background: #e6342a;
  border-radius: 30px;
  width: 160px;
  cursor: pointer;
  height: 43px;
  color: #fff;
}

/* 하단 */