.cs {
  position: relative;
  margin: 0 25px;
  padding-bottom: 140px;
  .cs-inner {
    .cs-head {
      font-family: $bingbold;
      position: relative;
      text-align: center;
      font-size: 38px;
      margin-bottom: 50px;
      @include mobile {
        font-size: 22px;
      }
    }
    .cs-box {
      position: relative;
      box-shadow: 0px 5px 24.3px 2.7px rgb(0 0 0 / 9%);
      background: #fff;
      border-radius: 30px;
      padding: 90px 45px;
      z-index: 1;
      @include mobile {
        box-shadow: none;
        border: solid 1px rgba(224, 223, 226, 0.6);
        padding: 40px 15px;
      }
      .cs-content {
        position: relative;
        display: grid;
        gap: 35px;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 55px;
        @include mobile {
          grid-template-columns: 1fr;
          gap: 10px;
          margin-bottom: 50px;
        }
        .cs-content-left {
          @include cs-content-box;
          .email-txt {
            @include cs-content-padding;
            > .email-head {
              @include cs-content-txt;
              display: block;
            }
            > p {
              display: block;
              font-size: 16px;
              line-height: 1.63;
              padding-bottom: 60px;
              @include tablet2 {
                padding-bottom: 20px !important;
              }
              @include mobile {
                font-size: 14px;
              }
              .br {
                display: none;
                @include tablet2 {
                  display: block;
                }
              }
              .email-p {
                display: block;
                @include mobile {
                  display: none;
                }
                .email-p2 {
                  @include tablet2 {
                    display: block;
                  }
                }
              }
            }
            .email-btn {
              display: block;
              @include cs-op-btn;
              @include mobile {
                display: none !important;
              }
            }
            &::after {
              @include cs-content-bg;
              background: #eef8fa url(../images/sec04_backimg01.png) no-repeat
                right / cover;
              @include mobile {
                background-position: -100px -170px;
              }
            }
          }
        }
        .cs-content-right {
          @include cs-content-box;
          .tell-txt {
            @include cs-content-padding;
            > span:nth-child(1) {
              @include cs-content-txt;
              display: block;
            }
            > span:nth-child(2) {
              display: block;
              font-family: Poppins;
              font-size: 46.5px;
              line-height: 1;
              font-weight: 600;
              letter-spacing: -2.33px;
              color: #303030;
              margin-bottom: 30px;
              @include tablet2 {
                font-size: 40px !important;
                margin-bottom: 5px !important;
              }
              @include mobile {
                font-size: 18px !important;
              }
            }
            > span:nth-child(3) {
              display: inline-block;
              font-size: 16px;
              line-height: 1;
              > em {
                display: inline-block;
                color: #e6342a;
                font-weight: 500;
                padding-left: 15px;
              }
              @include mobile {
                font-size: 14px;
              }
            }
            &::after {
              @include cs-content-bg;
              background: #fdf3f2 url(../images/sec04_backimg02.png) no-repeat
                right / cover;
              @include tablet2 {
                background-position: -200px 70px;
              }
              @include media-930 {
                background-position: -180px 95px;
              }
              @include media-840 {
                background-position: -160px 100px;
              }
              @include media-812 {
                background-position: -150px 100px;
              }
              @include mobile {
                background-position: -100px -200px;
              }
              @include media-630 {
                background-position: -100px -180px;
              }
            }
          }
        }
      }
      .cs-more {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        .more-txt {
          font-size: 23px;
          font-family: $bingbold;
          line-height: 1;
          letter-spacing: -1.6px;
          @include media-923 {
            font-size: 20px;
            letter-spacing: -2.2px;
          }
          @include media-802 {
            font-size: 19px;
            letter-spacing: -2.4px;
          }
          @include mobile {
            font-size: 18px;
          }
        }
        .more-btn {
          font-size: 14px;
          font-weight: 500;
          letter-spacing: normal;
          border: solid 1px rgba(224, 223, 226, 0.6);
          background: #fff;
          padding: 10px 60px;
          border-radius: 30px;
          cursor: pointer;
          &:hover {
            background: #e6342a;
            color: #fff;
          }
          @include mobile {
            background: #e6342a;
            color: #fff;
          }
        }
      }
      .qna {
        position: relative;
        .qna-wrap {
          position: relative;
          display: block;
          display: grid;
          grid-template-columns: repeat(2, 4fr);
          column-gap: 30px;
          row-gap: 10px;
          @include tablet1 {
            grid-template-columns: 1fr !important;
          }
          .qna-list {
            position: relative;
            box-shadow: inset 0px 5px 10px 0 rgb(121 121 121 / 8%);
            padding: 0 20px;
            border-radius: 30px;
            height: 80px;
            background: #f9f9f9;
            @include mobile {
              height: 40px;
            }
            .qna-link {
              position: relative;
              display: block;
              height: 100%;
              line-height: 80px;
              font-size: 18px;
              @include mobile {
                line-height: 40px;
                font-size: 14px;
              }
              > em {
                font-family: $bing;
              }
              > span {
              }
              .qna-icon {
                position: absolute;
                display: flex;
                right: 20px;
                top: 50%;
                transform-origin: top;
                transform: scale(0) translateY(-50%);
                width: 47px;
                height: 47px;
                border-radius: 100%;
                box-shadow: inset 0px 5px 10px 0 rgb(26 26 26 / 14%);
                background-color: #e6342a;
                transition: transform 0.5s;
                align-items: center;
                justify-content: center;
                img {
                  &:nth-child(1) {
                    display: block;
                    @include mobile {
                      display: none;
                    }
                  }
                  &:nth-child(2) {
                    display: none;
                    @include mobile {
                      width: 12px;
                      display: block;
                      transform: scale(1) !important;
                    }
                  }
                }
                @include mobile {
                  width: 20px;
                  right: 0px;
                  transform: scale(1) translateY(-50%) !important;
                  background-color: transparent;
                  box-shadow: none;
                }
              }
              &:hover {
                font-weight: bold;
              }
              &:hover .qna-icon {
                transform: scale(1) translateY(-50%);
              }
            }
          }
        }
      }
    }
  }
}
