.header {
  height: 147px;
  .header-top {
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
    @at-root.header-top-menu {
      float: right;
      > li {
        float: left;
        margin: 0px 15px;
        > a {
          font-size: 14px;
          color: #1b1b1b;
          > img {
            padding-top: 7px;
            margin-left: 3px;
          }
        }
        &::after {
          content: "";
          position: absolute;
          top: 10px;
          right: 94px;
          display: block;
          width: 1px;
          height: 9px;
          background: #bbb;
        }
      }
    }
  }
  .header-main {
    padding: 40px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    .logo {
    }
    .nav {
      display: flex;
      @at-root.gnb {
        display: flex;
        align-items: center;
        > li {
          padding: 45px 80px 0 0;
          > a {
            position: relative;
            display: block;
            font-size: 20px;
            color: #1b1b1b;
            padding-bottom: 40px;
          }
          @at-root.depth2 {
            > li {
              > a {
                position: relative;
                display: block;
                font-size: 18px;
                padding: 7px 0;
                text-align: left;
              }
            }
          }
        }
      }
      .lang {
      }
    }
  }
}
