.header {
  height: 147px;
  position: fixed;
  top: 0;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  .header-top {
    padding: 0 80px;
    border-bottom: 1px solid #e7e7e7;
    @include tablet2 {
      display: none;
    }
    @at-root.header-top-menu {
      display: flex;
      justify-content: flex-end;
      > li {
        margin: 0px 10px;
        > a {
          font-size: 14px;
          color: #1f1f1f;
          > img {
            padding-top: 7px;
            margin-left: 3px;
          }
        }
        &::after {
          content: "";
          position: absolute;
          top: 10px;
          right: 94px;
          display: block;
          width: 1px;
          height: 9px;
          background: #bbb;
        }
      }
    }
  }
  .header-main {
    width: 100%;
    height: 115px;
    padding: 43px 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    &:hover {
      border-bottom: 1px solid #e7e7e7;
    }
    @include pc1 {
      padding: 40px 20px;
    }
    @include mobile {
      padding: 22px 20px;
    }
    .logo {
      position: relative;
      .pc {
        @include tablet2 {
          display: none;
        }
      }
      .mb {
        display: none;
        @include tablet2 {
          display: block;
          width: 117px;
          height: 27.38px;
        }
      }
    }
    .nav {
      white-space: nowrap;
      @include flexCenter;
      @include tablet1 {
        margin-left: 30px;
      }
      @include tablet2 {
        display: none;
      }
      @at-root.gnb {
        position: relative;
        @include flexCenter;
        align-items: flex-start;
        &:hover .depth2 {
          visibility: visible !important;
          opacity: 1 !important;
          transition-delay: 0.7s;
          transition-duration: 1s;
        }
        > li {
          padding: 0 80px 0 0;
          position: relative;
          display: block;
          margin-right: 5px;
          transition: all ease 0.7s;
          @include pc1 {
            padding: 0 45px 0 0;
            transition: all ease 0.7s;
          }
          @include tablet1 {
            padding: 0 25px 0 0;
          }
          &:hover > a {
            color: orangered;
            border-bottom: 2px solid orangered;
          }
          &:hover > a {
            &::after {
              content: "";
              position: absolute;
              top: 5px;
              right: -9px;
              width: 5px;
              height: 5px;
              background: orangered;
              border-radius: 50%;
            }
          }
          > a {
            position: relative;
            display: block;
            font-size: 20px;
            color: #1b1b1b;
            padding-bottom: 40px;
            transition: color 0.5s;
            border-bottom: 2px solid transparent;
            @include pc1 {
              font-size: 16px;
            }
          }
          @at-root.depth2 {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            display: block;
            visibility: hidden;
            opacity: 0;
            > li {
              > a {
                position: relative;
                display: block;
                font-size: 18px;
                padding: 7px 0;
                text-align: left;
                transition: color 0.5s;
                &:hover {
                  color: orangered;
                }
              }
            }
          }
        }
      }
      &:hover + .front-layer {
        top: -40px;
      }
    }
    .front-layer {
      position: absolute;
      top: -600px;
      left: 0%;
      width: 100%;
      height: 550px;
      z-index: -100;
      opacity: 1;
      background-color: #fff;
      border-radius: 0 0 50px 50px;
      box-shadow: 0px 2px 9.8px 0.2px rgb(0 0 0 / 8%);
      transition: all ease 1s;
    }
    .hearder-main-right {
      .lang {
        position: relative;
        display: block;
        text-transform: uppercase;
        font-size: 16px;
        color: #1f1f1f;
        font-weight: 700;
        letter-spacing: -0.5px;
        margin-right: 45px;
        float: left;
        @include mobile {
          margin-right: 30px;
        }
        a {
          position: relative;
          > img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -20px;
          }
        }
        .lang-sort {
          position: absolute;
          top: 100%;
          left: 0;
          display: none;
          width: 50px;
          text-align: center;
          background-color: #fff;
          border-radius: 20px;
          padding: 10px 0;
          box-shadow: 0px 3px 7px 0 rgb(0 0 0 / 5%);
        }
        .lang-sort.active{
          display: block;
        }
      }
      .icon-menu {
        font-family: fontello;
        font-size: 28px;
        float: right;
        @include mobile {
          font-size: 25px;
        }
      }
    }
  }
}
.header.active {
  background: #fff !important;
}
