// 공통요소
@mixin ab-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  @content;
}
<<<<<<< HEAD
// sidemenu: mixin

// brand: mixin

// header
=======
// header: mixin
>>>>>>> d472c002fa22d2af61fdd43f88fb344dc48dd395
@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
// product: mixin
@mixin productBt {
  cursor: pointer;
  border: 0;
  background: transparent;
}
@mixin productImg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);  
  width: 100%;
}
// brand: mixin
@mixin brandBt {
  cursor: pointer;
  border: 0;
  background: transparent;
}
@mixin brandImg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); 
}
// cs: mixin
@mixin cs-op-btn {
  border: 0;
  background: #e6342a;
  border-radius: 30px;
  width: 160px;
  cursor: pointer;
  height: 43px;
  color: #fff;
}
@mixin cs-content-box {
  position: relative;
  height: 325px;
  border-radius: 30px;
  overflow: hidden;
}
@mixin cs-content-padding {
  position: relative;
  padding-left: 45px;
  padding-top: 55px;
}
@mixin cs-content-txt {
  font-family: $bingbold;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -1.6px;
  padding-bottom: 30px;
}
@mixin cs-content-bg {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-size: 100%;
  width: 100%;
  height: 325px;
  z-index: -1;
}
// cs: 반응형 mixin
@mixin cs-content-bg-table2 {
  content: "" !important;
  position: absolute !important;
  background-position: -60px 120px !important;
  background-size: 120% !important;
}

// opinion
@mixin op-content-box {
  border-radius: 30px;
  text-align: center;
  box-shadow: inset 0px 5px 10px 0 rgb(121 121 121 / 8%);
}
@mixin op-content-txt {
  font-size: 20px;
  display: block;
  padding-top: 80px;
  padding-bottom: 30px;
}
// footer
@mixin f-txt {
  font-size: 17px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
}
@mixin f-bg {
  background: #1b1b1b;
  box-shadow: 0px 4px 8px 1px rgb(0 0 0 / 36%),
    inset 0px 4px 10.8px 2.2px rgb(73 73 73 / 11%);
}
// 반응형 mixin
@mixin tablet1 {
  @media (max-width: 1280px) {
    @content;
  }
}
@mixin tablet2 {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin media-870 {
  @media (max-width: 870px) {
    @content;
  }
}
@mixin media-775 {
  @media (max-width: 775px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}
