// 공통
.op-content-box {
  @include op-content-box;
}
.op-content-txt {
  @include op-content-txt;
}
.op-content-btn {
  margin-bottom: 50px;
  @include cs-op-btn;
  @include mobile {
    font-size: 12px !important;
  }
}
// 레이아웃
.opinion {
  position: relative;
  margin: 0 25px;
  margin-bottom: 140px;
  .opinion-inner {
    .opinion-head {
      font-family: $bingbold;
      font-size: 38px;
      text-align: center;
      margin-bottom: 50px;
      @include mobile {
        font-size: 22px;
      }
    }
    .op-box {
      position: relative;
      .op-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        @include mobile {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}
