.sidemenu {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  background: white url("../images/pc_ham_bg.png") no-repeat right top;

  @include tablet2 {
    background: rgba(0, 0, 0, 0.1);
  }
  .sidemenu-bg {
    display: none;
    @include tablet2 {
      display: block;
      height: 100vh;
      width: 50%;
      float: left;
    }
    @include mobile {
      width: 10%;
    }
  }
  .side-wrap {
    height: 100vh;

    visibility: visible;
    opacity: 1;
    width: 100%;
    @include tablet2 {
      width: 50%;
      float: right;
      border-top-left-radius: 30px;
      background: #fff;
    }
    @include mobile {
      width: 90%;
    }
    .side-top {
      padding: 0 80px;
      border-bottom: 1px solid #e7e7e7;
      @include tablet2 {
        padding: 20px;
        display: flex;
        justify-content: space-between;
      }
      .side-top-menu {
        display: flex;
        justify-content: flex-end;
        @include tablet2 {
          justify-content: flex-start;
        }
        > li {
          position: relative;
          margin: 0px 10px;
          @include tablet2 {
            margin: 0;
            &:nth-child(2) {
              margin-left: 7px;
            }
          }
          > a {
            font-size: 14px;
            color: #1f1f1f;
            @include tablet2 {
              display: flex !important;
              align-items: center;
              justify-content: center;
              display: block;
              padding: 10px 14px;
              font-size: 15px;
              height: 36px;
              border: solid 1px rgba(0, 0, 0, 0.1);
              border-radius: 25px;
            }
            > img {
              padding-top: 7px;
              margin-left: 3px;
              @include tablet2 {
                margin-left: 4px;
                padding: 0;
              }
            }
          }
          &:nth-child(1)::after {
            content: "";
            position: absolute;
            right: -13px;
            top: 10px;
            display: block;
            width: 1px;
            height: 9px;
            background: #bbb;
            @include tablet2 {
              content: none;
            }
          }
        }
      }
      .mo-close {
        width: 22px;
        display: none;
        background: transparent;
        border: 0;
        cursor: pointer;
        @include tablet2 {
          display: block;
        }
        img {
          width: 100%;
        }
      }
    }
    .side-btn-wrap {
      padding: 40px 80px;
      display: grid;
      grid-template-columns: 4fr 130px 50px;
      @include tablet1 {
        padding-top: 25px;
      }
      @include tablet2 {
        display: none;
      }
      .side-logo {
        display: block;
        img {
        }
      }
      .side-lang {
        width: 42px;
        height: 20px;
        position: relative;
        display: block;
        text-transform: uppercase;
        font-size: 16px;
        color: #1f1f1f;
        font-weight: 700;
        letter-spacing: -0.5px;
        justify-self: center;
        a {
          position: relative;
          span {
            display: inline-block;
          }
          img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -20px;
          }
        }
        // &:hover .side-lang-menu {
        //   display: block;
        // }
      }
      .side-lang-menu {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
        width: 50px;
        text-align: center;
        background-color: #fff;
        border-radius: 20px;
        padding: 10px 0;
        box-shadow: 0px 3px 7px 0 rgb(0 0 0 / 5%);
        li {
          a {
          }
        }
      }
      .side-icon-menu {
        background: url("../images/ham.png") no-repeat;
        color: transparent;
        cursor: pointer;
      }
    }
    .sidemenu-inner {
      padding: 0 170px;
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      @include tablet1 {
        padding: 0 50px;
      }
      @include tablet2 {
        position: relative !important;
        top: 0;
        transform: translateY(0);
        padding: 0;
      }
      .side-nav {
        .side-gnb {
          display: flex;
          justify-content: space-around;
          @include tablet1 {
            padding-top: 100px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-row-gap: 20px;
            justify-items: center;
          }
          @include tablet2 {
            padding: 0;
            gap: 0;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
          }
          .side-list {
            width: 250px;
            height: 460px;
            padding: 50px 30px;
            border-radius: 25px;
            border: solid 1px rgba(224, 223, 226, 0.6);
            transition: all 0.5s;
            @include tablet1 {
              width: 250px;
              height: 400px;
              padding: 30px 30px;
            }
            @include tablet2 {
              border-radius: 0;
              border: 0;
              width: 100%;
              padding: 0;
              height: 100%;
            }
            @include pc-hover {
              &:hover {
                box-shadow: 0px 5px 24.3px 2.7px rgb(0 0 0 / 9%);
                transform: translateY(-10px);
              }
              &:hover > a {
                color: #e0462e;
              }
            }
            > a {
              font-family: $bingbold;
              font-size: 32px;
              letter-spacing: -1.6px;
              display: block;
              padding-bottom: 40px;
              white-space: nowrap;
              @include tablet1 {
                font-size: 27px;
                padding-bottom: 25px;
                text-align: center;
              }
              @include tablet2 {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 21px;
                padding: 11px 20px 11px 38px;
              }
              img {
                display: none;
                @include tablet2 {
                  display: block;
                  width: 9px;
                  height: 4.25px;
                }
              }
            }
            .side-depth {
              @include tablet2 {
                padding: 11px 20px 11px 38px;
                background-color: #f7f7f7;
              }
              li {
                position: relative;
                margin-top: 15px;
                &:first-child {
                  margin: 0;
                }
                @include tablet2 {
                  padding: 7px 0;
                  margin: 0;
                }
                a {
                  font-family: "Poppins", "Noto Sans KR", sans-serif;
                  font-size: 18px;
                  line-height: 1;
                  font-weight: normal;
                  position: relative;
                  display: block;
                  @include tablet1 {
                    text-align: center;
                    font-size: 18px;
                  }
                  @include tablet2 {
                    text-align-last: left;
                    font-size: 16px;
                    color: #707070;
                  }
                  @include pc-hover {
                    &:hover::after {
                      content: "";
                      position: absolute;
                      width: 15px;
                      height: 15px;
                      top: 2px;
                      right: 0;
                      background: url(/images/pc_ham_hover_img.png) no-repeat;
                    }
                    &:hover {
                      color: #e0462e;
                      font-weight: bold;
                    }
                  }
                }
              }
              .side-depth-qna {
                a {
                  span {
                  }
                  .side-depth2 {
                    padding-top: 20px;
                    li {
                      color: rgba(52, 52, 52, 0.8);
                      font-size: 15px;
                      font-weight: 300;
                    }
                  }
                  &:hover .side-depth2 {
                    font-weight: bold;
                  }
                }
              }
            }
          }
        }
      }
    }
    .side-bottom {
      position: absolute;
      bottom: 0;
      background: #fff;
      padding: 20px 20px 25px 38px;
      width: 50%;
      display: none;
      @include tablet2 {
        display: block;
      }
      @include mobile {
        width: 90%;
      }
      .side-bottom-wrap {
        display: flex;
        justify-content: space-between;
        .mo-lang {
          .mo-lang-list {
            position: relative;
            &:nth-child(2) {
              padding-left: 20px;
            }
            &:nth-child(1)::before {
              content: "";
              position: absolute;
              left: 28px;
              top: 50%;
              transform: translateY(-50%);
              width: 1px;
              height: 16px;
              background-color: rgba(0, 0, 0, 0.1);
            }
            float: left;
            a {
              font-size: 16px;
              font-weight: 500;
              color: #707070;
            }
          }
        }
        .mo-map {
          font-size: 16px;
          font-weight: 500;
          color: #707070;
        }
      }
    }
  }
}
.side-depth {
  // display: none;
  // lang보기
}
