.visual {
  position: relative;
  width: 100%;
  display: block;
  padding: 180px 0;
  text-align: center;
  background: url("../images/pc_section01_3.jpg") no-repeat center / cover;
  @include mobile {
    padding: 130px 0 60px;
    background: url("../images/mo_section01_3.jpg") no-repeat center / cover;
  }
  .v-pc {
    @include pc2 {
      width: 95%;
    }
    @include tablet2 {
      display: none;
    }
  }
  .v-mb {
    width: 95%;
    display: none;
    @include tablet2 {
      display: inline-block;
    }
  }
  .search {
    margin-top: 30px;
    .search-bar {
      width: 1020px;
      height: 80px;
      background: #fff;
      margin: 40px auto 0;
      padding: 0 5px 0 35px;
      box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
      border-radius: 40px;
      @include flexCenter;
      @include tablet1 {
        width: 80%;
        height: 60px;
      }
      @include mobile {
        width: 90%;
        height: 45px;
        max-width: 500px;
        margin-top: 0;
      }
      > input {
        width: 79%;
        height: 100%;
        padding-left: 30px;
        font-size: 17px;
        letter-spacing: -0.85px;
        text-align: left;
        border: none;
        background: url("../images/search_icon.png") no-repeat center left;
        &:focus {
          outline: none;
        }
        @include mobile {
          font-size: 12px;
          background-size: 12px;
        }
      }
      .search-button {
        cursor: pointer;
        max-width: 180px;
        width: 22%;
        height: 55px;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: normal;
        border-radius: 27.5px;
        border: none;
        box-shadow: inset 0px 5px 10px 0 rgb(53 53 53 / 11%);
        background: #ed1c24;
        text-transform: uppercase;
        transition: height 0.7s;
        @include tablet1 {
          width: 33%;
          height: 45px;
        }
        @include mobile {
          width: 30%;
          height: 30px;
          font-size: 10px;
        }
      }
    }
    .tag {
      margin-top: 25px;
      .tag-name {
        @include flexCenter;
        > li {
          cursor: pointer;
          height: 37px;
          border: 1px solid #edecef;
          border-radius: 18.5px;
          padding: 0 35px;
          margin: 0 4px;
          @include mobile {
            height: 30px;
            min-width: auto;
            padding: 0 10px;
          }
          > a {
            font-family: $bing;
            font-size: 12px;
            color: #1f1f1f;
            text-align: center;
            line-height: 37px;
            @include mobile {
              font-size: 10px;
              line-height: 30px;
            }
          }
        }
      }
    }
  }
}
