@charset "utf-8";
// 변수
@import "variables";
// mixin
@import "mixin";
// 리셋
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: #000;
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
img {
  border: 0;
  vertical-align: top;
}
html {
  font-size: 16px;
}
body {
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  line-height: 1.6;
  line-height: 30px;
  font-size: 14px;
  font-style: normal;
  color: #1f1f1f;
  letter-spacing: -0.09em;
}
/* 공통 요소*/
.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}
.inner {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1903px;
  margin: 0 auto;
}
em {
  font-style: normal;
}
// cs, opinion wrap
.service-wrap {
  max-width: 1310px;
}
/* 레이아웃 */
.wrap {
  position: relative;
  display: block;
}
/*고정메뉴*/
@import "fixMenu";
/*사이드메뉴*/
/* 사이드메뉴 */
@import "sidemenu";
/* 상단 */
@import "header";
/* 비주얼 */
@import "visual";
/* 제품 */
@import "product";
/* 브랜드 */
@import "brand";
/* cs */
@import "cs";
/* 의견 */
@import "opinion";
/* 하단 */
@import "footer";
// .wrap {
//   display: block;
// }
//사이드메뉴 펼치고 접기
// .sidemenu {
//   display: none;
//   // display: block;
// }
